* {
    margin: 0;
    padding: 0;
    font-family: arial;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

main {
    padding-bottom: 8vh;
}

.links {
    display: flex;
    flex-direction: column;
}

.two-colls,
.three-colls {
    flex-direction: row;
    flex-wrap: wrap;
}

.two-colls > .app-link {
    flex: 0 0 50%;
    font-size: 1em;
    height: 50vw;
}

.two-colls > .app-link:nth-child(2n + 1) {
    border-right: solid 1px #333;
}

.three-colls > .app-link {
    flex: 0 0 33.333%;
    font-size: 0.8em;
    height: 33.333vw;
    padding: 10px 14px;
}

.three-colls > .app-link:nth-child(3n + 1),
.three-colls > .app-link:nth-child(3n + 2) {
    border-right: solid 1px #333;
}

.two-colls > .app-link,
.three-colls > .app-link {
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-button {
    transition: background-color 200ms ease-in-out;
}

.app-button:not(.disabled):hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.app-button.disabled {
    color: #bbb;
}

.app-link {
    background-color: #fff;
    padding: 16px 20px;
    font-size: 2em;
    border-bottom: solid 1px #333;
    text-decoration: none;
    color: #333;
}

.list .app-link {
    font-size: 1em;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: #ddd;
}

footer > nav {
    display: flex;
}

footer .app-button {
    text-decoration: none;
    width: 8vh;
    height: 6vh;
    font-size: 4vh;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
